* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font: size 16px;
  /* background-color: lightgray; */
  background-image: url("C:/Users/programator/Desktop/Javasript - cviceni/image/letadlo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.legend1 {
  font-weight: bold;
}

h1 {
  text-align: center;
  margin: 3rem;
  color: white;
}

#c1 {
  margin: 0 auto;
  max-width: 60%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

#l1 {
  margin-top: 2rem;
  margin-left: 2rem;
  font-weight: bold;
}

#let {
  margin-top: 2rem;
}

#l2 {
  margin-left: 2rem;
  font-weight: bold;
}

#l3,
#l4,
#l5 {
  font-weight: bold;
}

#backFlight {
  margin-left: 2rem;
}

#c3 {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.field-let {
  border-radius: 15px;
  background-color: gainsboro;
  opacity: 0.95;
  color: #4d4d4d;
  border: 3px solid white;
}

.field-result {
  border-radius: 15px;
  padding: 20px;
  background-color: gainsboro;
  opacity: 0.95;
  color: #4d4d4d;
  border: 3px solid white;
}

.resultBtn {
  margin-bottom: 1rem;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  width: 10rem;
  height: 2rem;
  border-radius: 15px;
  border: 1px solid gray;
}

#result {
  margin-bottom: 1rem;
  font-weight: bold;
}

.field-notes {
  border-radius: 15px;
  background-color: gainsboro;
  color: #4d4d4d;
  opacity: 0.95;
  border: 3px solid white;
}

.form-notes {
  margin: 2rem;
}

legend {
  font-weight: bolder;
  color: skyblue;
  font-size: x-large;
}

#checkBtn {
  font-weight: bold;
  width: 10rem;
  height: 2rem;
  border-radius: 15px;
  border: 1px solid gray;

  position: absolute;
  left: 50%;
  transform: translate(-50%, -0%);
}

#amount {
  width: 10rem;
  height: 2rem;
}

#economy,#business, #royal{
  margin-bottom: 0.75rem;
}

#economy{
  margin-top: 1rem;;
}